/*--------------------------------------------------------------
                    Horizontal Server List
---------------------------------------------------------------*/

/* Server selected pill */
.containerDefault_c69b6d {
	transition: transform var(--transition-time) var(--ease-in-out),
				width var(--transition-time) var(--ease-in-out);
}

/* Remove to set to bottom */
.pill_e5445c.wrapper__58105 {
	transform: translateX(67.5px) rotate(180deg) !important;
}

.listItem__650eb:hover .pill_e5445c.wrapper__58105 {
	transform: translateX(60px) rotate(180deg) !important;
	right: 100px !important;
}

/*
	Copyright © 2025 ModernAnimations via itsmarianmc
	All rights reserved.

	More information at: https://projects.itsmarian.is-a.dev/bd-vc-addons/modernanimations

	License: MIT License
	For more details on the license and disclaimers, see:
	https://opensource.org/licenses/MIT

	Disclaimer:
	This software is provided without express or implied warranties,
	including, but not limited to, the warranty of merchantability,
	fitness for a particular purpose, and non-infringement of third-party rights.
	In no event shall the authors or copyright holders be liable for any claims, damages, or other
	liabilities, whether in an action of contract, tort, or
	otherwise.

	Contact:
	For questions, feedback, or support, please contact us by email at:
	business.itsmarian@gmail.com
*/