/*--------------------------------------------------------------
                        SpotifyControls
---------------------------------------------------------------*/

/* Progress Bar */
.barFill_a562c8 {
	transition: width var(--transition-time) var(--ease-in-out);
}

/* Grabber for Progress bar*/
.grabber_a562c8 {
	cursor: grab;
}

/* Buttons and Cover */
.vc-spotify-button,
#vc-spotify-album-image {
	transition: transform var(--transition-time) var(--ease-in-out);
}

.vc-spotify-button:hover,
#vc-spotify-album-image:hover {
	transform: scale(1.075) !important;
}

/*
	Copyright © 2025 ModernAnimations via itsmarianmc
	All rights reserved.

	More information at: https://projects.itsmarian.is-a.dev/bd-vc-addons/modernanimations

	License: MIT License
	For more details on the license and disclaimers, see:
	https://opensource.org/licenses/MIT

	Disclaimer:
	This software is provided without express or implied warranties,
	including, but not limited to, the warranty of merchantability,
	fitness for a particular purpose, and non-infringement of third-party rights.
	In no event shall the authors or copyright holders be liable for any claims, damages, or other
	liabilities, whether in an action of contract, tort, or
	otherwise.

	Contact:
	For questions, feedback, or support, please contact us by email at:
	business.itsmarian@gmail.com
*/